<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Исправить слежение</h1>

<div class="bg-success p-2 text-dark bg-opacity-25">
<%= form_for :track, url: track_path(@track), method: :patch do |f| %>
<p><label>PL перевзчик:</label>
<%= f.collection_select(:pl,  Truckpl.all, :newtruckpl,:newtruckpl,  {:prompt => 'CardiTrans'}) %>

<label>№ Поляка:</label>
<%= f.text_field :pl2 %>
</p>

<p><label>Перецеп/перегруз:</label>
  <%= f.collection_select(:perecep2, ["Перецеп","Перегруз"], :to_s , :to_s, :prompt => 'Операция') %>

<p><label>Тягач BY:</label>
  <%= f.collection_select(:truck_by,  Truckby.all, :newtruckby,:newtruckby,  {:prompt => 'Тягач BY'}) %>

<p><label>Водитель BY:</label>
  <%= f.collection_select(:driver_by, Driverby.all, :newdriverby, :newdriverby,  {:prompt => 'Водитель BY'}) %>

<p><label>Перецеп/довоз:</label>
  <%= f.collection_select(:perecep, ["Перецеп","Довоз"], :to_s , :to_s, :prompt => 'Операция') %>

<p><label>Тягач RUS:</label>
  <%= f.collection_select(:truck_rus, Truckru.all, :newtruckru, :newtruckru,  {:prompt => 'Тягач RUS'}) %>

<p><label>Водитель RUS:</label>
<%= f.collection_select(:driver_rus, Driverru.all, :newdriverru, :newdriverru, {:prompt => 'Водитель RUS'}) %>

<p><label>Прицеп:</label>
  <%= f.collection_select(:semi_trailer, Semitrailer.all, :newsemitrailer, :newsemitrailer, {:prompt => 'Полуприцеп'}) %>

<p><label>Назначение:</label>
  <%= f.collection_select(:country, Strana.all, :newstrana, :newstrana, {:prompt => 'Страна назначения'}) %>

  <p>
    <%= f.submit 'Сохранить', class:"btn btn-sm btn-primary rounded-pill" %>
  </p>

<% end %>
      </div>
    </div>
  </div>
</div>
