<div class="container">
  <div class="row">
    <div class="col-xs-12 bg-light">
        <br/><hr/><%= link_to 'Записать новый PL тягач', '/truckpl/new', class:"link-primary" %> ||
        <%= link_to 'Показать все PL тягачи', '/truckpl', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать новый BY тягач', '/truckby/new', class:"link-primary" %> ||
        <%= link_to 'Показать все BY тягачи', '/truckby', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать нового BY водителя', '/driverby/new', class:"link-primary" %> ||
        <%= link_to 'Показать всеx BY водителей', '/driverby', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать новый RUS тягач', '/truckru/new', class:"link-primary" %> ||
        <%= link_to 'Показать все RUS тягачи', '/truckru', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать нового RUS водителя', '/driverru/new', class:"link-primary" %> ||
        <%= link_to 'Показать всеx RUS водителей', '/driverru', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать новый полуприцеп', '/semitrailer/new', class:"link-primary" %> ||
        <%= link_to 'Показать все полуприцепы', '/semitrailer', class:"link-primary" %><br/><hr/>

        <%= link_to 'Записать новую страну', '/strana/new', class:"link-primary" %> ||
        <%= link_to 'Показать все страны', '/strana', class:"link-primary" %><br/><hr/>
    </div>
  </div>
</div>
